

<h1>Catch a Pokemon!</h1>
<iframe src="https://giphy.com/embed/kUaStDK1mlpgA" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen align ='right'></iframe>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
