<html>

 
<div class = "nav-container" role = "navigation">
<nav class="nav nav-pills">
 
  <li><%= link_to "Home" ,"/"%> </li>
  <li><%= link_to "Pokemons" ,"/pokedexes"%></li>
<body>


</nav>

<style>
body {
	background-image: url("/assets/background.jpg ");
    background-repeat:no-repeat;
    background-size:cover;
  background-attachment: fixed;
} 
</style>
 

</body>
</html>